html{ 
    zoom: .12; 
    font-size: 9vw; 
    font-family: 'Times New Roman', Times, serif; 
}
* {
    padding: 0;
    margin: 0;
}
body { padding: 2rem 1rem 3rem 1rem; }
header {
    text-align: center;
    padding: 0 0 .6rem 0;
}
#magnifier, #smagnifier {
    z-index: 3;
    position: fixed;
    left: 1rem;
    top: 1em;
    cursor: pointer;
    font-size: 1rem;
    opacity: .2;
    text-decoration: none;
    background-color: transparent;
    border: none;
}
#magnifier:hover, #smagnifier:hover {
    opacity: 1;
    transform: scale(1.6);
}
#smagnifier { 
    left: 4rem; 
    text-decoration: line-through;
}
#magnifier::selection, #smagnifier::selection { color: inherit; }
@media screen and (max-width: 1000px) {
    #magnifier, #smagnifier {
        display: none;
    }
}
#logo {
    display: inline;
    height: 5rem;
    margin-top: -4rem;
    position: relative;
    top: 1.4rem;
}
#title {
    display: inline;
    font-size: 2.5rem;
}
#schedule {
    display: grid;
    grid-template-columns: repeat(auto-fill, 9.6rem);
    grid-template-rows: auto auto;
    gap: .6rem;
    height: auto;
    width: fit-content;
    padding: 0 1.6rem;
    font-size: 1.5rem;
    margin: auto;
    justify-content: center;
    align-content: flex-end;
    border: .2rem solid gray;
    border-radius: 1rem;
    zoom: 1;
}
#schedule * { text-align: center; }
.year {
    grid-row: 1;
    grid-column: span 2;
    margin: 1rem 0 0 0;
    padding: 0;
    background-color: gainsboro;
    font-size: 1.4rem;
}
.semester1, .semester2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: ghostwhite;
    font-size: 1.2rem;
}
.semester1 > h4, .semester2 > h4 {
    margin: 0 0 1.6rem 0;
    padding: 0;
}
.course {
    cursor: pointer;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 3.4rem;
    padding: .5rem;
    border-radius: .5rem;
    font-size: .9rem;
    font-weight: bold;
    line-height: 1rem;
    box-shadow: 0 0 .25rem gray;
    position: relative; /* for .course:hover .note */
    background-color: ghostwhite;
}
div.course { 
    width: 8.5rem; 
    margin: 0.3rem 0;
}
section.course { 
    width: 18.7rem; 
    margin: 0.3rem -5.1rem;
}
.semester1 > section { left: 5.1rem; }
.semester2 > section { right: 5.1rem; }
.course:hover > .note { display: block; } 
th, td { padding: 0 1rem; }
.appear { 
    box-shadow: 0 0 .5rem black; 
    transform: scale(1.03);
}
.course_to_get_requisites { background-color: turquoise;}
.direct_requisites { background-color: #ff5500; }
.indirect_requisites { background-color: yellow; }
.requisite_for { background-color: lightgreen; }
.transparent { color: #0005; }
.transparent > .note { display: none !important; }
.note {
    position: absolute;
    bottom: 90%;
    right: 90%;
    display: none;
    padding: 1rem;
    width: max-content;
    background:rgba(255, 69, 0, .7);
    color: white;
    border-radius: 1.6rem;
    box-shadow: inherit;
    font-size: 1rem;
}
#guide {
    height: auto;
    font-size: 1rem;
    justify-self: end;
    padding: 0 .4rem .4rem 0;
}
#guide * { 
    float: right; 
    font-weight: bolder;
    color: #000a;
}
.tip {
    margin: .2rem 1.2rem 0 .2rem;
    height: .5rem;
    width: 2rem;
}
#link a { 
    margin-right: 3rem; 
    color: #6495edcc;
    text-decoration: none;
}