html{ font-size: .94vw; }
* {
    padding: 0;
    margin: 0;
}
body { padding: 2vw; }
header {
    text-align: center;
    padding: 0 0 .6vw 0;
}
#icon {
    display: inline;
    height: 2.5vw;
}
#title {
    display: inline;
    font-size: 2.5vw;
}
#schedule {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto;
    gap: .6vw;
    height: 43.2vw;
    width: 94vw;
    font-size: 1.5vw;
    margin: auto;
    justify-content: center;
    align-content: flex-end;
    border: .2vw solid gray;
    border-radius: 1vw;
}
#schedule * { text-align: center; }
.year {
    grid-row: 1;
    grid-column: span 2;
    margin: 1vw 0 0 0;
    padding: 0;
    background-color: gainsboro;
    font-size: 1.4vw;
}
.semester {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: ghostwhite;
    font-size: 1.2vw;
}
.semester > h4 {
    margin: 0 0 1.6vw 0;
    padding: 0;
}
.course {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 7.4vw;
    height: 3.4vw;
    margin: 0.3vw 0;
    padding: .5vw;
    border-radius: .5vw;
    font-size: .9vw;
    font-weight: bold;
    box-shadow: 0 0 .25vw gray;
}
#guide {
    grid-column: span 10;
    height: .2vw;
    font-size: 1vw;
    justify-self: end;
    padding-bottom: 1.2vw;
}
#guide * { float: right; }
#guide b { margin-right: 3vw; }
#guide a { 
    margin-right: 3vw; 
    color: cornflowerblue;
    text-decoration: none;
}
.tip {
    margin: .2vw 1.2vw 0 .2vw;
    height: .5vw;
    width: 2vw;
}
abbr { 
    display: inline-block; 
    text-decoration: none;
}
.normal { background-color: white; }
.course_to_get_requisites { background-color: turquoise; }
.direct_requisites { background-color: orangered; }
.indirect_requisites { background-color: yellow; }
.requisite_for { background-color: lightgreen; }
